<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>USUÁRIOS</h1>
    <p><a href="{% url 'cadastrar_usuario'  %}">Cadastrar</a></p>
    <h2>Listagem de Usuários:</h2>
    {% for usuario in listagem_usuarios %}
    <p>
        Nome: {{usuario.nome}} 
        Email: {{usuario.email}}  
        Senha: {{usuario.senha}} 
        Cpf:{{usuario.cpf}} 
        Celular:{{usuario.celular}}
        |<a href="{% url 'editar_usuario' usuario.id %}">EDITAR</a>
        |<a href="{% url 'remover_usuario' usuario.id %}">REMOVER</a>
    </p>
    {% empty %}
    <p>Não existem usuários cadastrados!</p>
    {% endfor %}


</body>
</html>