{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Smart Reservoir | Cadastro {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap" rel="stylesheet" />
</head>
<body>
    <div class="login-container">
        <form class="login-box" method="post">
          {% csrf_token %}
          <h1 class="login-title">Cadastro</h1>
      
          <input class="login-user" type="text" name="username" placeholder="Nome de usuário" required />
          <input class="login-email" type="email" name="email" placeholder="E-mail" required />
          <input class="login-cpf" type="text" name="cpf" placeholder="CPF" required />
          <input class="login-phone" type="tel" name="tel" placeholder="Telefone" required />
          <input class="login-password" type="password" name="password" placeholder="Senha" required />
          <input class="login-password" type="password" name="password2" placeholder="Confirmar Senha" required />
      
          <button class="login-btn" type="submit">Cadastrar</button>
      
          <a class="login-recovery-password" href="{% url 'login' %}">Já tem uma conta? Entrar</a>  <!-- Link para a página de login -->
        </form>

        <div class="login-img-box">
            <img class="login-img" src="{% static 'img/img-login.png' %}" alt="Imagem de Cadastro" />
        </div>
    </div>
</body>
</html>
