{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Smart Reservoir | Login {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap" rel="stylesheet" />
</head>
<body>
    <div class="login-container">
        <form class="login-box" method="post">
          {% csrf_token %}
          <h1 class="login-title">Login</h1>
      
          <input class="login-user" type="text" name="username" placeholder="Nome de usuário" required />
          <input class="login-password" type="password" name="password" placeholder="Senha" required />
      
          <button class="login-btn" type="submit">Entrar</button>
      
          <a class="login-recovery-password" href="{% url 'cadastro' %}">Não tem uma conta? Registre-se</a>  
          <!-- Link para a página de cadastro -->
        </form>
      </div>
    </div>
</body>
</html>
