{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Smart Reservoir | Login {% endblock %}</title>
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/login.css'%}" />
    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="login-container">
      <div class="login-img-box">
        <img
          class="login-img"
          src="{% static 'img/img-login.png' %}"
          alt="Login Image"
        />
      </div>

      <form class="login-box" method="post">
        {% csrf_token %}
        <h1 class="login-title">Login</h1>

        <input
          class="login-user"
          type="text"
          name="username"
          placeholder="Nome de usuário"
          required
        />
        <input
          class="login-password"
          type="password"
          name="password"
          placeholder="Senha"
          required
        />

        <button class="login-btn" type="submit">Entrar</button>

        {% if messages %}
        <div class="messages">
          {% for message in messages %}
          <p class="{{ message.tags }}">{{ message }}</p>
          {% endfor %}
        </div>
        {% endif %}

        <a class="login-recovery-password" href="{% url 'cadastro' %}"
          >Não tem uma conta? Registre-se</a
        >
      </form>
    </div>
  </body>
</html>
