{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Smart Reservoir | Login {% endblock %}</title>
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/login.css'%}" />
    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="login-container">
      <div class="login-img-box">
        <img
          class="login-img"
          src="{% static 'img/img-login.png' %}"
          alt="Login Image"
        />
      </div>

      <form class="login-box" action="#">
        <h1 class="login-title">Login</h1>

        <input
          class="login-user"
          type="text"
          id="user"
          placeholder="Nome de usuário"
          required
        />
        <input
          class="login-password"
          type="password"
          id="password"
          placeholder="Senha"
          required
        />

        <button class="login-btn" type="submit">Entrar</button>

        <!-- Para uma próxima versão (Login com redes sociais) -->
        <!-- <div class="login-social">
                <p class="login-social-text">Entrar com</p>

                <div class="login-social-items">
                    <a class="login-social-link" href="#">
                        <img class="login-social-img" src="{% static 'img/google.svg' %}" alt="Google Logo">
                    </a>

                    <a class="login-social-link" href="#">
                        <img class="login-social-img" src="{% static 'img/facebook.svg' %}" alt="Facebook Logo">
                    </a>

                    <a class="login-social-link" href="#">
                        <img class="login-social-img" src="{% static 'img/github.svg' %}" alt="Github Logo">
                    </a>
                </div>
            </div> -->

        <a
          class="login-recovery-password"
          href="https://api.whatsapp.com/send?phone=5584991318818&text=Olá!%20Gostaria%20de%20recuperar%20a%20minha%20senha!"
          target="_blank"
          >Esqueceu sua senha?</a
        >

        <a
          class="login-register"
          href="https://api.whatsapp.com/send?phone=5584991318818&text=Olá!%20Gostaria%20de%20criar%20uma%20conta%20no%20sistema%20Smart%20Reservoir!"
          target="_blank"
          >Não tem uma conta? Registre-se</a
        >
      </form>
    </div>
  </body>
</html>
